html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #15020A;
}

.container {
  margin: 50px auto;
  width: 70%;
  height: 80%;
  padding: 30px;
  text-align: center;
  background-image: url('/img/2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

}

.container_url {
  background-color: rgba(100, 100, 100, .2);
  width: 60%;
  height:5%;
  margin: auto;
  padding: 5px;

}
.form_url {
  height: 100%;
  width: 100%;
  text-align: left;
}


.form_url #text_url{
  color: white;
  background-color: rgba(0,0,0,0);
  height: 100%;
  width: 80%;
  font-size: 28px;
  border: none;
  -webkit-appearance: none;
  outline: none;
}

.form_url #submit_url {
  background : url("/img/submit.png") no-repeat center center;
  background-size: 60%;
  width: 15%;
  height: 100%;
  border: none;
  color: transparent;
  float: right;
}

