<div class="container">
  <div class="container_url">
  <form class="form_url" action="/urls" method="post">
    <input type="text" id="text_url" name="[url]original">
    <input type="submit" id="submit_url" value="Submit"> 
  </form>
</div>
</div>
